[2014-09-17 18:53] dwlf opened #6 "Where's CAPI's code?"
I looked at https://github.com/joyent/sdc/blob/master/docs/developer-guide/reference.md to find out where CAPI's code lived. Should a description be added there or somewhere else?

[2014-09-17 21:54] #6 closed, assigned to nobody

[2014-09-18 16:54] dwlf opened #8 "CAPI deprecated?"
16bafe93994517f6980d115adf42eed7fba6b4bb documented that CAPI is deprecated. Maybe should read "being deprecated" as my understanding is there are still dependencies on CAPI in core components.

https://github.com/joyent/sdc-smart-login brought this to my mind.

[2014-09-24 23:18] konobi opened #13 "coal vm setup script does not work with newer Fusion versions"
Inbetween Fusion 5 and 6, they changed the locations of where a bunch of the support files live. I'm currently on Fusion 6 and there's also a Fusion 7 release at the moment.

[2014-09-28 02:57] konobi opened #14 "Coal docs missing"
Currently in the coal docs there's a large section marked as _TODO_.

It would be really good to get that filled in with the 98% case. I can't remember what the general install options are, so it'd be good to just get the basics down so that I can get an admin interface at a minimum.

[2014-09-28 04:11] #14 closed, assigned to dwlf

[2014-09-28 08:31] bixu opened #15 "members of 'joyagers' github group need access to 'joyager' manta account"
[code]

[2014-09-29 23:21] #15 closed, assigned to bixu

[2014-09-30 15:32] jritorto opened #16 "user manta key does not exist; unable to dl private beta usb image (not CoaL - real metal installation)"
After being added to joyagers group, I'm still not able to obtain the sdc7 usb image.  fails thusly:
$export MANTA_USER=joyager
$ latest=$(mget -q /joyager/stor/builds/headnode/master-latest)
mget: KeyDoesNotExistError: /joyager/keys/**:**:**:**:**:**:**:**:**:**:*\* does not exist

I tried it as my own Manta user as well (seemed like not the way to do it, per the readme, but thought I'd give it a

[2014-09-30 16:15] #16 closed, assigned to nobody

[2014-10-06 03:08] #13 closed, assigned to nobody

[2014-10-06 08:58] bixu opened #21 "it's not clear how i should request access for colleagues"
a note in the README for the duration of the private beta would be nice, so i know who to email, etc.

[2014-10-06 17:36] #21 closed, assigned to nobody

[2014-10-16 02:52] konobi opened #22 "Console output should default to both"
Console logging from boot should default to going to both "text" and serial for use with coal.

[2014-10-16 02:53] konobi opened #23 "`make coal` does not work"
When trying to build an usb/coal image, "make" reports nothing to do.

[2014-10-16 02:54] konobi opened #24 "Installer should report information to whichever "console" is currently active"
Currently it looks like it always goes to "serial" even if i've manually set console=text. It makes it look like absolutely nothing is going on, especially in error cases.

[2014-10-31 05:52] bcantrill opened #25 "update doc link to reflect TOOLS-657"
The Joyent Engineering Guidlines link needs to reflect the change made for TOOLS-657.

[2014-10-31 05:53] #25 closed, assigned to bcantrill

[2014-11-02 18:37] bcantrill opened #26 "Cleanup TODOs and XXXs"
We still have a couple of these drifting around; they need to be cleaned up.

[2014-11-05 07:30] bcantrill opened #27 "polish intro paragraph"

[2014-11-05 07:32] #27 closed, assigned to nobody

[2014-11-05 22:22] jclulow opened #28 "mention IRC and mailing list in README"
We have _#smartos_ on Freenode, and _sdc-discuss@lists.smartdatacenter.org_ on Listbox.  We should mention how to get started in these fora in `README.md`.

[2014-11-05 22:24] #28 closed, assigned to nobody

[2014-11-06 03:45] #26 closed, assigned to nobody

[2014-11-06 17:21] trentm opened #29 "we should have an SDC FAQ"
at docs/faq.md

[2014-11-06 17:24] #29 closed, assigned to nobody

[2014-11-06 19:35] jclulow opened #30 "smartos.org links should not be SSL right now"
At present, we do not have proper SSL support for _smartos.org_, so links to that site should be via HTTP.

[2014-11-06 19:37] #30 closed, assigned to nobody

[2014-11-07 02:38] titanous opened #31 "Potential for split brain with manatee?"
After reading the docs and a bit of the code for manatee/node-manatee, I wonder if there is the potential for split brain under some network partitions.

The initial configuration is three manatee nodes and three clients:

![splitbrain0](https://cloud.githubusercontent.com/assets/13026/4947589/73e235e8-6626-11e4-90a1-5727cd6d7148.png)

A network partition occurs that causes _manatee0_, and _client

[2014-11-07 05:09] #31 closed, assigned to nobody

[2014-11-09 17:54] trentm opened #33 "Add a 'make clone-all-repos' convenience"
Add `make clone-all-repos` convenience to get all the _SDC_-related repos cloned to build/repos... for reading/grepping, etc.  See docs/building.md for real build instructions.

[2014-11-09 17:55] #33 closed, assigned to nobody

[2014-11-10 20:23] nshalman opened #34 "Installer can't handle passwords that contain shell special characters"
In theory passwords in the config file should perhaps be enclosed inside single quotation marks with any single quotation marks in the password escaped.

Super low priority.

[2014-11-13 20:39] bkochendorfer opened #36 "Glossary.md link incorrect in Agents section of Reference"
The link at https://github.com/joyent/sdc/blob/master/docs/reference.md#agents in the first sentence linking to '...agent section in the glossary' is incorrect. Needs an 'docs' in the url path.

[2014-11-13 21:44] #36 closed, assigned to nobody

[2014-11-24 22:26] dwlf opened #37 "package.json for sdc components should not be private: true"
It looks like many SDC & Manta components have `"private": true` in their package.json. Although, it might not be appropriate for others to publish to NPM, these are not private repositories.
https://www.npmjs.org/doc/files/package.json.html#private

I'll clean this up quickly if confirmed.

[2014-11-24 22:55] #37 closed, assigned to nobody

[2014-12-06 11:48] pannon opened #38 "Compute nodes incorrectly report available DRAM"
Have two compute nodes 64GB DRAM each, but SDC only reports 1.5GB total memory. Headnode is correctly reporting its own memory. All nodes run 20141127T065456Z. prtconf | grep Memory reports Memory size: 1548 Megabytes. Compute nodes are IBM x3650 M4 and M3. BIOS is reporting 64GB DRAM.

Both compute nodes run latest BIOS and firmware.

Just tested another (third compute node) IBM x3650 M2 with 32

[2014-12-07 22:12] #38 closed, assigned to nobody

[2015-01-02 20:44] appletalk commented on #34
With still new script it still returns an error if using a password for root and admin that ends with a backtick `

[2015-01-02 21:08] lloydde commented on #34
@appletalk meaning you tried @bahamat 's fix? or meaning you did an install most recently?

[2015-01-02 23:22] bahamat commented on #34
It's worth noting that my fix was only for single quotes. I had hoped that by escaping single quotes and enclosing the entire password value in single quotes that we'd avoid any other interpolation later. Since @appletalk used a backtick my fix didn't really work as I had hoped. We'll need something that more intelligently escapes anything special.

[2015-01-16 00:06] lloydde commented on #23
@konobi any additional details that will help us prevent others from going astray?

[2015-01-19 23:57] pannon opened #40 "Upgrading SDC platform image"
The documentation [here](https://docs.joyent.com/sdc7/installing-a-new-sdc-platform-image#DownloadtheImage) suggests to download a new platform image via a customized example link.

Unless I missed something in the docs - where are these platform images located for download?

[2015-01-20 17:33] bahamat commented on #40
Can you open this against [joyent/documentation](/joyent/documentation/issues) instead?

[2015-01-20 18:06] trentm commented on #40
@pannon Most of the docs on docs.joyent.com were written for the Joyent Public Cloud (JPC) and for Joyent customers of SmartDataCenter... before SDC was open sourced. That means that while there is a lot of documentation there that is helpful for SDC usage, there are a lot of cases where they describe things that aren't correct for open source SDC usage.

You hit one difference here: the platform

[2015-01-20 18:06] #40 closed

[2015-01-20 21:41] pannon commented on #40
Great thanks!

[2015-01-30 17:23] sigxcpu76 opened #44 "Cannot create custom image"
I'm trying to create a custom image using Ubuntu 14.04 cloud edition from here: https://cloud-images.ubuntu.com/trusty/current/trusty-server-cloudimg-amd64-disk1.img.

What I do (on headnode):
- qemu-img convert -O raw trusty.img trusty.raw
- zfs create -V 16g zones/ubuntu/disk
- dd if=trusty.img of=/dev/zvol/rdsk/zones/ubuntu.disk bs=1024k
- zfs snapshot zones/ubuntu/disk@send
- zfs send zones/ub

[2015-01-30 17:30] chorrell commented on #44
Those images, afaik, have not been tested under or validated against SDC/SmartOS.

I really do not know if they will work under SDC.

Also, typically for the KVM linux images, we use and image_size of 10240

[2015-01-30 18:27] sigxcpu76 commented on #44
Thanks for your answer, but ignoring linux, having a raw disk image (from OVF or another virtualization platform, a backup or whatever source) what is the right way to create the image in SDC?
If image_size is the exact size, it complains that it is not 16384 (where does that value come, afterall? The VM.js source code shows that it is data.manifest.image_size, but that is not 16384, checked and -

[2015-01-30 19:02] chorrell commented on #44
Hi,

For building an image from scratch for SDC, this is what you would typically do:

https://docs.joyent.com/sdc7/working-with-images/how-to-create-a-kvm-image

The above instructions mention  "Obtain VMTools ISO from Joyent correspoding to your OS" with a link.

Ignore that :)

The downloadable ISO is out of date, so better to go to the source here:

https://github.com/joyent/sdc-vmtools

Clone

[2015-01-30 19:12] sigxcpu76 commented on #44
Thank you for the detailed explanation.

Aren't the tools for running inside the VM? The issue is that I cannot even create the VM caused by a combination of factors:
- ZFS loses volsize property when doing zfs send and sets it to whatever real usage/size is
- libzfs does not allow a refreservation property larger than the volsize
- VM.js insists in using refreservation and/or pulls values with un

[2015-01-30 19:23] chorrell commented on #44
Right, so what I'm suggesting is: Don't use trusty-server-cloudimg-amd64-disk1.img :)

Use the Ubuntu server 14.04 ISO and follow the SDC7 docs I linked to:

http://releases.ubuntu.com/14.04.1/ubuntu-14.04.1-server-amd64.iso

https://docs.joyent.com/sdc7/working-with-images/how-to-create-a-kvm-image

The cloud image you are trying to use is built specifically for Amazon EC2. Even if you get past y

[2015-01-30 19:33] sigxcpu76 commented on #44
That was always the backup option.

The reason I raised this here is because I consider that there is a bug in VM.js or something in upper layers. Although the manifest's ```image_size``` property is set to ```2252```, it complains that ```2252``` is wrong and should be ```16384```. The source code shows that ```16384``` value being pulled from ```data.manifest.image_size``` property which is ...

[2015-01-30 19:39] chorrell commented on #44
It's possible, but the core issue here is: Using an AMI cloud image to build an image for SDC isn't supported.

As far as I know, no one has attempted this before and nothing has been added to SDC to support this.

[2015-02-04 15:52] nshalman commented on #24
I think nowadays grub should be rendering on both the VGA and the serial port and with OS-3634 and OS-3635 it should be trying pretty hard to find a working serial port without compromising rendering performance in the absence of one.

[2015-02-04 16:54] trentm commented on #24
@nshalman I got an *email* about a comment you made on this ticket, but no longer. Did you delete it?

[2015-02-04 17:05] nshalman commented on #24
Yes. After rereading the follow up comment I realized that it didn't quite add anything useful to the conversation.

[2015-02-04 17:49] joyent-automation commented on #24
k, thanks :)

On Wed, Feb 4, 2015 at 9:05 AM, Nahum Shalman <notifications@github.com>
wrote:

--
Trent Mick
http://joyent.com

[2015-02-04 19:42] sigxcpu76 opened #45 ""NIC Tags" and "Link Aggregation""
I tried to configure link aggregation according to docs here: https://docs.joyent.com/sdc7/setting-up-link-aggregation .

What happens is that you cannot manage a link aggregation tags through "NIC Tags" UI, but from "Link Aggregation" UI  (which, unfortunately, requires a reboot).

I think the issue is that the UI (through NAPI?) attempts to configure a NIC tag based on MAC address, but in case o

[2015-02-06 21:40] sigxcpu76 commented on #45
I've researched a little bit more about this and I think there are two places where changes need to be made:
- ```nictagadm``` to check if a physical NIC for a given mac address is part of an aggr and apply the tags to the aggr itself (I'm not sure but it seems that ```nictagadm``` might be aware of aggr handling, at least for HN)
- ```adminui``` "NIC Tags" setup because it completely messes up th

[2015-02-10 20:40] MarioColuzzi opened #46 "Documentation? Forgotten how to write?"
Hello,

Pretty disgusting the instructions I'd say. Maybe it is clear for you how this software works but the rest of us?

The instructions do not say ANYTHING useful in how to install and run it. Do I need to install a SmartOS into a "virgin" PC or not? Does this tool runs already an existing VM in Win or Linux?

Remember if you want your software to be successful SEND YOUR MESSAGE ACROSS CLEARLY

[2015-02-10 20:54] notmatt commented on #46
@MarioColuzzi I'm sorry if it's somewhat buried under the intro and exposition, but I suspect what you're looking for is in the [Getting Started section|https://github.com/joyent/sdc/issues/46] of the project's README.md. There are two options to try it out, the "[Cloud on a Laptop|https://github.com/joyent/sdc#cloud-on-a-laptop-coal]" option using VMWare (on OSX, Windows or Linux) - good for a fi

[2015-02-10 20:54] #46 closed

[2015-02-10 21:31] MarioColuzzi commented on #46
@notmatt A picture is worth a 1000s words. it would be nice to talk the same language to have the information clearly understood, and a picture does exactly that because it breaks the "language barrier". The instructions may be clear to whom wrote them but not to whom is reading them.

Besides all the above. I have to scrap this product from my list, from the lack of instructions to VM Image not w

[2015-02-10 21:47] davepacheco commented on #46
Sorry for the rough user experience.  As you point out, it can be difficult for people working closely on a project to identify what's not obvious to new users.  That said, we've had a number of users successfully set up SDC on their own.  So the more concrete your feedback, the better we'll be able to improve the software so that other users will have a smoother experience.  This would be most ap

[2015-02-10 22:18] Atalanta opened #47 "Workflow not picking up jobs"
Worked with joshw in IRC to diagnose issues with queue of sysinfo jobs growing.  This followed booting a new CN.  The setup job was stuck in a queue:

[code]

Upon checking the workflow zone, the wf-runner process was in maintenance (restarting too quickly).  I cleared and restarted the job, and it crashed again shortly.

The setup job of the new CN is now marked as running, but has been stuck the

[2015-02-10 22:33] Atalanta commented on #47
ARGH - I had a log of everything and somehow lost it.  Restarting the service a 2nd time seems to have 'fixed' it, but I shall keep an eye out.

[2015-02-12 15:18] #44 closed

[2015-02-22 05:05] sodre commented on #34
I had the a similar issue when my password included the left paranthesis '('

[2015-03-17 06:47] naisanza opened #49 "Compute Node (20150305T101223Z) PXE Boot Slow on (mswin) Vmware Player 7.1.0 build-2496824"
The SDC is running with the CoAL package, build: 20150305T101223Z. However, when booting over PXE with 6 CPU cores and 4GB of RAM, the process is extremely slow. It is like downloading over a 56K dial-up modem - each character of the grub bootloader "loads" one character per 1.5 seconds.

I've seen it boot over PXE normally once, after that it's always been slow. I'm not sure what's causing this i

[2015-03-17 22:53] rmustacc commented on #49
It sounds like your headnode is running in VMware. Is the compute node that you're booting to also in VMware?

We have a composite grub terminal that is usually able to send out to both the VGA and serial devices and the behavior you're seeing is usually caused by buggy firmware.

[2015-03-17 23:05] jclulow commented on #49
Hi, @naisanza.  When you say the bootloader loads, do you mean (as Robert supposes) that the grub menu text is drawn very slowly; or, rather, do you mean that once booting has begun, each period (`.`) character is drawn to the screen slowly and booting takes a long time?

[2015-03-17 23:23] naisanza commented on #49
@rmustacc correct! Both headnode and compute node are running in Vmware. It is strange because it worked smoothly, once.

@jclulow both! It loads character by character displaying the grub menu text, and similarly for everything afterwards.

[2015-03-27 16:08] gprime66 commented on #49
@naisanza If you go to "Compatibility" and change the "Use Hardware Version" to 9 it runs at full speed (VMware 7.1.1)

[2015-03-27 16:40] lloydde commented on #49
@gprime66 that is a useful observation, you experienced the same symptom and that resolved it for you? Could you share more specifics of your configuration and the symptoms you were seeing?

[2015-03-27 17:39] gprime66 commented on #49
I'm running on OS X with VMware 7.1.1. The head node and compute nodes are running as vm's. It's just a stock Coal install of the latest version. Version 10 and 9 of vmware's system hardware work, version 11 (the latest version) cause the pxe boot and operation to lag to the point where the system is unusable (even after boot up completes). The head node experiences no lag, it's triggered by somet

[2015-03-27 21:07] lloydde commented on #49
@naisanza I suspect you can only adjust/upgrade the "virtual machine hardware versions" using the non-player products
http://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=1003746

What host OS and player version are you using?

[2015-03-27 21:53] gprime66 commented on #49
OS X 10.10.3 with VMware fusion 7.1.1 (I don't know if there is a player version of OS X )

[2015-03-28 00:19] gprime66 commented on #49
Looks like this on Mac

[2015-03-28 08:27] jclulow commented on #49
On 27 March 2015 at 14:00, Eric <notifications@github.com> wrote:

Even if there is no GUI option to change that setting, you may be able
to open up the *.vmx file in a text editor and change the
"virtualHW.version" property to some lower (or higher) number.

--
Joshua M. Clulow
Software Engineer @ Joyent
mail: jmc@joyent.com

[2015-03-28 10:14] naisanza commented on #49
@jclulow That worked perfectly. @gprime66 Yup that's exactly what was needed to be done. Boot menu and system now loads and runs normally.

@all So would this be a VMware bug or SDC?

[2015-03-28 14:19] lloydde commented on #49
@naisanza what was the value before and after?

[2015-03-28 18:42] naisanza commented on #49
@lloydde Before: virtualHW.version = "11". After: virtualHW.version = "7"

I haven't tried "8" or "9" yet, but I took the same version that CoAL was running on. Like what @gprime66 says, version "11" did something that caused it not to work normally anymore

[2015-05-02 12:31] hqs88 opened #160 "install sdc7 grub error 21"
why usb key can't install

[2015-05-02 16:23] lloydde commented on #160
What instructions are you following? What step in the instructions are you at?

This isn't an area I'm familiar with, but looking at boot/grub/grub.conf on a USB key, I don't see any drive specific logic. Is it locally attached [SAS/SATA](https://docs.joyent.com/sdc7/sdc7-minimium-requirements#disk)? Is the BIOS detecting it?

Grub error:
[code]

[2015-05-04 02:55] hqs88 commented on #160
thank you very much

[2015-05-04 04:33] #160 closed

[2015-05-07 17:55] ceizner opened #161 "SDC7 Virtual Machines Tab -> Virtual Machine Unable to fetch User Information"
in SDC7 when selecting any VM on the right side of the screen under user icon there is always a message: Unable to fetch User Information.<UUID>

[2015-05-07 18:08] bahamat commented on #161
Filed internally as ADMIN-2066. This issue should be opened against sdc-adminui.

[2015-05-07 18:13] ceizner opened #162 "cloudapi is getting reprovisioned even if latest image is already installed"
"sdcadm update cloudapi" will re-provision cloudapi despite the fact that latest image was updated just a few seconds ago.

[2015-05-07 18:24] ceizner commented on #161
Here is the example: http://ryan.net/misc/skitch/montgomery___Operations_Portal_1AFBE22B.png

[2015-05-07 18:29] ceizner commented on #161
![error](https://cloud.githubusercontent.com/assets/12173436/7522784/57ce6952-f4ac-11e4-812e-93870256ba46.jpg)

[2015-05-07 21:33] lloydde commented on #162
I believe this is https://smartos.org/bugview/TOOLS-920

[2015-05-12 11:00] #162 closed

[2015-05-14 22:54] pannon commented on #161
We are experiencing the same issue on both of our SDC setups. The last one was upgraded from version `20150305` to `release-20150430`.

[2015-05-15 01:24] bahamat commented on #161
The commit that caused this is joyent/sdc-adminui@001f6ea.

[2015-05-18 18:26] bahamat commented on #161
This has been fixed in adminui@release-20150514-20150518T174827Z-gde7e8f1 and is now available from the release channel.

[2015-05-18 18:26] #161 closed

[2015-05-18 19:07] pannon opened #164 "Proposal: Create an aggregated know issues page for SDC releases"
This is just a proposal to create an aggregated page to allow SDC users to track known issues between SDC releases.

Currently it is hard to look up known issues between releases.
One needs to check each SDC component on GH to figure out possible show stoppers before an actual upgrade is undertaken.

Some background on recent experiences:
Encountered the following regression https://github.com/joy

[2015-06-12 19:54] trentm commented on #164
I'm definitely supportive of the idea. I don't know how to do a good job maintaining it.

@lloydde  thoughts?

[2015-06-12 20:53] pannon commented on #164
@trentm @lloydde maybe just a one liner a few days after the release , saying no known issues or known issues bullet points.

[2015-06-14 10:18] bahamat commented on #164
Maybe [bugview](https://smartos.org/bugview) could also use the github API to pull in issues from all SDC subprojcts?

[2015-06-15 17:44] lloydde commented on #164
I can think of a number of incremental improvements, but I think when Triton floats it's time to advocate for a open SDC (and SmartOS) Jira (or other open bug tracker).

[2015-07-08 19:50] jgrowl opened #167 "CoaL problems on Ubuntu 14.04"
Not sure if I missed a step or if there is a problem with my vmware install but I am not able to get things working using Ubuntu 14.04 and VMware 11.1.2.

When I run the setup script this is what I get:
[code]

When I try to boot up the headnode by selecting 'Live 64-bit' I get a black screen that does not ever seem to progress from there. Pressing 'c' doesn't have an effect.

[2015-07-08 21:08] rmustacc commented on #167
@jgrowl By default, it's going to boot to the serial console. So you'll want to follow the instructions in grub that are documented in the README here: https://github.com/joyent/sdc. See the portion that starts with:

[code]

[2015-07-08 21:18] jgrowl commented on #167
@rmustacc Derp! I thought it was saying to hit enter on "Live 64-bit" before pressing 'c'. That seems to get me to the next step. I should have realized since it was grub config. Thanks!

[2015-07-08 21:19] rmustacc commented on #167
No worries, if we can better clarify the documentation there, please let us know.

[2015-07-08 21:43] lloydde commented on #167
@jgrowl you are not a first to encounter this issue. grub ux is a pretty foreign. What do you think of the instructions at https://github.com/joyent/sdc/blob/master/docs/developer-guide/coal-setup.md#download-coal-and-configure-vmware step 6 and the image there?

[2015-07-08 22:07] jgrowl commented on #167
@lloydde That looks great. Perhaps changing the wording from

to

would make things even more clear. Regardless, looks good. :+1:

[2015-07-08 22:15] lloydde commented on #167
@jgrowl good call, I was also thinking of changing "to enter" to "to go to". I'll make those changes now.

[2015-07-13 20:14] #167 closed

[2015-07-21 00:31] konobi opened #169 "No branding assets available for use"
There doesn't appear to be any brand assets (logos, images, etc) for SDC/Triton that are available for the community to use.

Is there a plan for this?

[2015-07-21 16:13] misterbisson commented on #169
I don't think we had a plan until you asked, but it makes sense. I'll see what I can do.

[2015-07-22 00:07] tsantero commented on #169
subscribe

[2015-07-22 00:09] RAWRAW commented on #169
All - the marketing team is working to quickly pull this together for general use in the community. Thanks! RAW

[2015-07-30 04:38] naisanza opened #170 "Unable to set static IP when adding external NIC to adminui0 imgapi0"
When adding a New NIC to a service VM, it is unable to specify a static IP.

Also, it does not take an available IP address. Instead, it incrementally assigns the next IP in the pool.

![screen shot 2015-07-30 at 00 29 17](https://cloud.githubusercontent.com/assets/1614425/8975844/23cb0740-3652-11e5-9e53-461d98646994.png)

![screen shot 2015-07-30 at 00 31 09](https://cloud.githubusercontent.com/a

[2015-07-30 05:54] rmustacc commented on #170
@naisanza Agreed that you should be able to explicitly request the IP that you use when adding a NIC in adminui.

Regarding the IP selection, it's not defined to take it and use them in any particular order. In this case, the reason you're seeing this comes down to how NAPI defines its queries. See https://github.com/joyent/sdc-napi/blob/master/lib/models/ip/provision.js#L25 for more information.

[2015-07-30 06:15] naisanza commented on #170
@rmustacc "Try to find a free IP that has never been used before" is exactly how it works. Since none of the IP's in the pool have been used before, it appears to assign one incrementally. Not a big deal, until we can assign static IPs, I'll just need to restrict the IP range to n and n+1; n, being the expected IP I'd like assigned to the new VM.

Also, when assigning a NIC, there is not a check t

[2015-07-30 06:38] naisanza opened #171 "elasticsearch joyent image Error: Could not find or load main class org.elasticsearch.bootstrap.Elasticsearch"
When starting elasticsearch I receive this error:
[code]
Java
[code]

[code]
I'm not exactly sure if this is where I need to post issues with a Joyent image

[2015-07-30 06:51] naisanza commented on #171
Edit: the service is already running!

[2015-07-30 06:51] #171 closed

[2015-07-30 14:34] rmustacc commented on #170
In your latter case does this mean that there are things using the addresses that SDC isn't using? If so, then they should be marked reserved by the operator. Unfortunately there's a bit of a chicken and egg problem with what you'd like. Until you create a machine, we actually do the provision, there's no VNIC that necessarily exists in the system where one can appropriately do the ping from.

If

[2015-07-30 14:59] naisanza commented on #170
@rmustacc correct! It is a mixed static and dhcp non-production environment. I wouldn't mind manually reserving the addresses, but the IP Address Allocation list doesn't show me all the IPs in the subnet for me to do that.

If a ping function were to be added, it could be managed and initiated from the adminui0 server, since it is (other than imgadm0) the only VM with attached NICs into the extern

[2015-07-30 20:41] rmustacc commented on #170
You can use the NAPI API to take care of that in the interim. I'll open a bug against Adminui for both of these issues around IP address management that you've raised and link them here once they've been done.

Longer term, we can look at trying to do some more network probing to try and help with situations like this and allowing an operator to make decisions based on that. But it's probably goin

[2015-07-30 20:53] rmustacc commented on #170
I filed both https://smartos.org/bugview/ADMINUI-2160 and https://smartos.org/bugview/ADMINUI-2159 to cover these adminui features.

[2015-07-30 22:18] naisanza commented on #170
@rmustacc I'll take a look at the NAPI API for the time being. Thanks!

[2015-07-30 22:20] rmustacc commented on #170
On 7/30/15 15:18 , Eric wrote:

Take a look at
https://github.com/joyent/sdc-napi/blob/master/docs/index.md#example-reserving-an-ip,
should have an example to help you out. You can use the sdc-napi command
in the global zone to help you get by in the interim.

Robert

[2015-08-01 01:36] bahamat commented on #170
@naisanza Why not configure each with non-overlapping ranges on the same network prefix? E.g., give 10.0.1.6-10.0.1.127 to DHCP and 10.0.1.127-10.0.1.254 to SDC, or whatever ratio you think you need on either side.

[2015-08-01 20:18] naisanza commented on #170
@bahamat that would be ideal wouldn't it! Except I didn't have the luxury of setting up, so addresses are assigned randomly, and picked up by anyone who decides to use one. Which means I need a pre-start script to check if an address is being used before starting or creating a VM.

[2015-08-04 03:21] naisanza opened #173 "Feature Request - Upload ISO"
It would be nice to be able to upload ISO's to the server and use when provisioning a VM.

Maybe instead of a dedicated store for the ISO's, add an "Upload" button, so when the VM is provisioned and the zfs dataset is created, upload the ISO to the dataset's /root directory.

![screen shot 2015-08-03 at 23 01 02](https://cloud.githubusercontent.com/assets/1614425/9052290/d2347002-3a33-11e5-98b1-ee

[2015-08-04 03:28] naisanza opened #174 "Feature Request - Create Image from VM"
After provisioning and setting up a VM, it would be nice to be able to create an image of it that can be shared with other users.

![screen shot 2015-08-03 at 23 23 29](https://cloud.githubusercontent.com/assets/1614425/9052542/cc12d954-3a36-11e5-9c2b-68cca00a05a7.png)

[2015-08-04 03:45] naisanza opened #175 "Feature Request - Add/Remove Custom Imgadm Sources"
Since the headnode is kept isolated from the external network, there isn't an interface available for managing imgadm sources from the Operations Portal

It would be nice to be able to add additional sources here

![screen shot 2015-08-03 at 23 27 57](https://cloud.githubusercontent.com/assets/1614425/9052624/bef96516-3a37-11e5-9c4c-312cf8fecb80.png)

[2015-08-04 04:01] naisanza opened #176 "Feature Request - Create "Empty" VM"
The Packages interface is very nice, but in order to provision a VM, an Image is required. If I'm creating a KVM VM and there isn't an available image to use (e.g. Windows image, or if I wanted to create a Linux KVM from an ISO), then you must create the VM from a vmspec manually.

The provision UI, along with using packages, already does 90% of the work of manually creating a vmspec for you. It w

[2015-08-04 13:29] chorrell commented on #174
Are you referring to specifically having this feature available in the AdminUI in addition to the current functionality available via CloudAPI?

https://apidocs.joyent.com/cloudapi/#CreateImageFromMachine

[2015-08-04 14:04] naisanza commented on #174
@chorrell I thought the CloudAPI was for Joyent customers only and not for the opensource sdc?

[2015-08-04 14:07] chorrell commented on #174
CloudAPI is part of SDC: https://github.com/joyent/sdc-cloudapi

Just not the customer facing "portal"

[2015-08-04 15:39] naisanza commented on #174
@chorrell I've just installed it. Is it accessible from a web UI?

[2015-08-04 15:42] chorrell commented on #174
No, command line or the HTTP API only.

[2015-08-04 15:44] kusor commented on #174
https://github.com/joyent/node-smartdc is CloudAPI command line client, btw

[2015-08-04 16:32] rmustacc commented on #174
In general it's not an action that operators of a cloud take and its one that we find users of the cloud take, which is why it hasn't been something that we've generally exposed in the operations portal. That doesn't mean we can't, but there are a bunch of details to work out.

Most importantly we'll want to understand whether the operator should have the ability to do this on behalf of a user, gi

[2015-08-04 16:43] naisanza commented on #174
@rmustacc without a UI it doesn't seem to have an ease of use for cloud users either. That's what I'm confused about. Same with internal, non-cloud users. I don't think they will be seeing a console very much; and it'll be a hard case to get them to touch a console, too

[2015-08-04 16:52] rmustacc commented on #174
Well, unfortunately there is a UI, it's just not open source, sorry.

But basically I'm not disagreeing that it can't be added to the adminui, but we need to work out the semantics of the operation carefully, as it has to be viewed as a destructive action and we'll want to work out whether it's the operator creating the custom image on behalf of that user or it's the operator using this to create

[2015-08-04 16:57] naisanza commented on #174
@rmustacc that makes so much more sense now. It's like a DLC for the additional content

Thanks!

[2015-08-21 20:44] numericillustration opened #178 "CoaL upgrade doc has 2 commands that do not work properly"
1. the agent update command has changed from `sdcadm experimental update-agents --latest -y` to `sdcadm experimental update-agents --all --latest -y`

2. the command to gather the latest PI after installing the latest doesn't account for multiple lines having the word `true` in it resulting in multiple PIs being assigned to `LATEST_PLATFORM` which causes the `sdcadm platform assign $LATEST_PLATFOR

[2015-08-24 22:11] lloydde commented on #178
2. merged as joyent/sdc@b08729b.

[2015-08-24 22:41] #178 closed

[2015-08-24 22:41] lloydde commented on #178
Thanks @numericillustration!

[2015-08-31 22:05] lloydde commented on #169
@RAWRAW update?

[2015-10-08 10:44] nodens opened #180 "Feature request: please open source migrator.sh script"
Hi,

From SDC documentation https://docs.joyent.com/private-cloud/instances/compute-nodes, there is "migrator.sh" script that can help migrating instances from a compute node to another.

Although using this script is not supported, it is provided by joyent support.

Could you please consider open sourcing it ?

Cheers,
##

Clément Hermann

[2015-10-19 08:46] sdmajor opened #182 "Feature Request:"
I really like what I have seen in regards to Titan with docker integration... considering Joyant SDC is focused on the best in performance I would like to see Joyant following the Mikelangelo movement

"We develop sKVM, an optimised version of KVM, improve the cloud OS OSv, and we implement holistic monitoring and security modules for the cloud."

SDC + SmartOS + sKVM + OSv = big data, high perfor

[2015-10-20 17:50] chorrell commented on #182
"Joyant"?

:disappointed:

[2015-10-20 19:30] pannon commented on #182
@sdmajor you should really read this https://www.joyent.com/blog/vm-native-or-container-native and watch http://containersummit.io/events/sf-2015/videos/going-container-native

And also for big data  https://www.joyent.com/object-storage

I just hope, someone from the EU Horizon 2020 will have some sense and stop wasting TAX money..

[2015-10-29 03:52] benjamin-bergia opened #183 "Feature Request: Display tags and tag filter in the Virtual Machines view of the adminui"
We have been running our private cloud on SDC7 for the past few months now and we migrated our production on it recently. Even if the "major" operations are done through the CloudAPI most of our daily tasks like VM re-sizing etc use the AdminUI. We do not give custom aliases to our VMs and mostly go with Tags (which match our way to work with our CMS).

It would greatly improve the usability of th

[2015-10-29 16:38] misterbisson commented on #183
@benjamin-bergia unrelated to this feature request, I'd love to learn more about how you're using SDC/Triton. Would you mind emailing me? I'm `casey.bisson` at joyent.

[2015-11-20 05:23] parity3 opened #184 "bare-metal install from usb-key: unclear messaging when no drives attached/detected"
When no HDD devices installed or detected, SDC 7 fails with the following message in /var/svc/log/system-smartdc-init:default.log:

    /mnt/usbkey/scripts/headnode.sh:241: cp /tmp/joysetup.3498 /zones/
    cp: cannot create /zones/: Not a directory

I was hoping for a higher level message like:

    unable to set up zpool, no disks detected

This happens after the initial setup config. An email m

[2015-11-20 08:06] parity3 opened #185 "bare-metal install network setup does not check if configured provisioning ip range is sufficient"
The system services will fail to start when there are more zones than can be provisioned in the initial sdc 7 setup. Originally I elected for admin as 10.2.1.251-255 and external is 10.2.1.240-248 on the same subnet, not knowing that each zone would need to get its own IP.

It would have been nice to have this checked earlier. Something weird happened where zones were allocated in an incremented n

[2015-12-06 18:04] chefhoobajoob opened #186 "SDC on virtualbox/vagrant?"
This is probably a dumb question. I'm a complete smartos ecosystem ignoramus trying to come up to speed, but noticed that while it seems pretty straightforward to get a Dev system going with smartos virtualbox boxes and even some Vagrant plugins for zone management, for some reason this doesn't seem to be the case for open source sdc.

So, why is the case? Is something like this in the works, not

[2015-12-07 02:25] jclulow commented on #186
It's not a dumb question, but unfortunately there's no particularly enlightening answer, either.  The main reason that COAL runs "best" (or, at least, is best documented) on VMware Fusion is because that's what we most of us at Joyent use when we are working on SDC components.  I'm also not sure if the bridged/shared-with-host networking options available in VirtualBox are as full-featured as thos

[2015-12-08 22:03] chefhoobajoob commented on #186
I can see looking to Vagrant to act as a management facade for SDC as missing the point.

I had a more narrow objective of just wanting to give manta a spin, which can apparently only run on top of sdc, where I ran into this speedbump.

I may try to spin up sdc on VirtualBox, time allowing. Thanks for the feedback and the resource pointers.

[2015-12-08 22:13] rmustacc commented on #186
The most important thing for VirtualBox is to make sure that you properly set up promiscuous mode inside of VirtualBox on the devices.

[2015-12-08 22:51] chefhoobajoob commented on #186
I suppose I'll have to dig in before I can ask what "properly" means. Not sure what I'm in for yet.

[2015-12-11 19:31] trentm commented on #34
Should be fixed now in https://smartos.org/bugview/HEAD-2279

[2015-12-11 19:31] #34 closed

[2015-12-11 19:32] trentm commented on #34
with this commit: https://github.com/joyent/sdc-headnode/commit/f987f1d0d0c1036ebb006c69b3e44092200fbced

[2016-01-08 01:30] fire opened #187 "SDC (coal) on kvm?"
Looking at the latest releases notes for centos 7, nested virtualization is enabled. This fufills one of the criteria mentioned in the virtual box issue. (demoing standalone hypervisor) Is it possible to support kvm?

Note: I'm on Elementary OS (Based on Ubuntu 14.04 and the Ubuntu 15.04 kernel), libvirt is used on both.

[2016-01-08 16:19] djMax opened #188 "Parallels support?"
Is there any inherent reason this shouldn't work in Parallels? I've converted the VM fine, but now I need to redo what the VMWare setup script does...

[2016-01-08 16:22] rmustacc commented on #188
On 1/8/16 8:19 , Max Metral wrote:

No, there's no inherent reason that we know of. Presuming it can
correctly set up the interfaces and properly enable promiscuous mode on
them (so you can get traffic across more than one mac address to your
host), then it should be fine.

[2016-01-08 16:26] djMax commented on #188
First thing I had to do (recording here for posterity) was set the network interfaces to emulate Intel Pro 1000/MT cards as the defaults were not recognized. First one I set as Host Only, second I set as Shared Network.

[2016-01-08 16:45] djMax commented on #188
I managed to get it booted and ssh into it ("installation" was instantaneous, should I be concerned that it wasn't 20 minutes?). The external network (the shared/NAT network in parallels) isn't working though. Seems like it should be, it's configured properly on the Parallels side (I had to go into parallels settings and modify the address range of both the shared and external network to match the

[2016-01-14 19:32] numericillustration commented on #185
Also the installer doesn't sanity check the valid subnet size so if you supply say a /27 it will accept it and fail at init in napi with
http://pastebin.com/vXWJP93a
from somewhere in here
https://github.com/joyent/sdc-napi/blob/47ab1da00612ff5e319d9abbfb036da503b85fb6/lib/models/network.js#L806-L815

[2016-01-21 21:43] matthiasg opened #189 "Cannot run post-setup common-external-nics"
I am trying to follow https://github.com/joyent/sdc/blob/master/docs/developer-guide/coal-setup.md but am experiencing some issues which prevent me from running `sdcadm experimental update-docker --servers cns,headnode` and `sdcadm post-setup cloudapi`. They might be related to some failed jobs as listed in the web interface, if so what should i do ? can i rerun those jobs ?

<img width="858" alt=

[2016-01-21 22:38] matthiasg commented on #189
I just reran the entire process and it works now. during the setup process there also wasnt any issue checking connectivity to the default dns servers.

so just retry/rerun did it for me

[2016-01-21 22:38] #189 closed

[2016-01-22 02:32] J-C-B commented on #189
Hi,

I had the same error when trying to provision or make any changes via sdc ui or cli - so i ran these commands and then i can provision and do whatever... until the next reboot and a have to do it again

https://github.com/J-C-B/smartos-notes/blob/master/CNAPI-error-fix.sh

hope this helps in future

[2016-02-22 17:56] MIams-REISys opened #191 "Installation Checklists"
Unable to find the installation checklists.

README references https://docs.joyent.com/private-cloud/install/checklists  is a 404 error.

[2016-03-11 02:55] Adel-Magebinary opened #193 "Cannot provision image with IO error?"
{
    "id": "20b9eb26-4a19-4b78-ad83-1bd1888ca055",
    "task": "image_ensure_present",
    "server_uuid": "568c9dc2-0257-409d-a6ba-080d13712ce7",
    "status": "failure",
    "timestamp": "2016-03-11T15:44:39.399Z",
    "history": [{
        "name": "error",
        "timestamp": "2016-03-11T15:45:08.975Z",
        "event": {
            "error": {
                "message": "FROM\nSocket.EventEmi

[2016-03-20 10:31] siepkes commented on #187
@fire I've created pull request joyent/sdc#194 to add KVM support. I've tested it only on Fedora 23 but I would love feedback if it works for you on Ubuntu!

[2016-03-31 00:55] discostur commented on #49
Hi

i'm having the same problem, running both, CoaL and an extra compute-node on ESXi:

- CoaL HW.version=11
- ComputeNode HW.version=11

Grub menu is as fast as normal, but PXE Boot is taking about 2 hours / boot. Already tried different HW.versions for ComputeNode (7, 8, 9 and 10) but PXE is as slow as with HW.version=11.

Greets
Kilian

[2016-03-31 01:00] jclulow commented on #49
@discostur How are you PXE booting the virtual compute node?  Are you using the `Compute Node (PXE)` option in the grub menu provided on an SDC USB key image, or are you chainloading iPXE through the legacy PXE ROM that VMware provides?

[2016-03-31 01:03] discostur commented on #49
@jclulow i'm booting via CoaL USB-Image and then selecting the Compute Node (PXE) option from the grub menu

[2016-03-31 01:05] jclulow commented on #49
@discostur Can you try reconfiguring the SDC boot service to use HTTP booting?  Something like this:

[code]

Then, in the `dhcpd0` zone make sure `config-agent` and `dhcpd` have restarted with the new setting.  You should, on the next boot of the CN, see a `http://` URL instead of a `tftp://` URL for the kernel and boot archives.  Hopefully this will be much faster than TFTP.

[2016-03-31 13:23] discostur commented on #49
@jclulow changing from tftp to http worked and it is really faster now, but it stops randomly and freezes.
Tried it several times, the highest count i could get was 79% from the boot archives, then it stopped loading ...

[2016-03-31 19:11] jclulow commented on #49
@discostur Alright.  Can you try replacing the file `boot/ipxe.lkrn` on the compute node USB key with this test copy: https://us-east.manta.joyent.com/jmc/public/ipxe/resync201601/ipxe.lkrn

This is a test build of a much newer build of iPXE, and it might improve the situation with these more recent VMware versions.

[2016-04-01 09:29] discostur commented on #49
@jclulow Changed it with the version you posted and it works really smooth now. Booting up in <1min without any error via tftp.

Thanks for your help ;)

[2016-04-04 13:03] brink668 opened #195 "When adding a compute node "was expected to have etag""
Link to error messages:
http://pastebin.com/zMDn6LDf

[2016-04-13 00:01] twm1010 opened #196 "Coal Post-Install Issue"
Following the VMware Fusion directions to deploy a Coal based headnode... coal-latest unpacked with this file: coal-release-20160331-20160331T053307Z-g55f2969-4gb.vmwarevm

I deployed twice, making sure to expand to 8G of memory the second time. I've been using my own passwords, hostnames, regions, etc.

Output of sdc-healthcheck:

[root@headnode (texas) ~]# sdc-healthcheck
ZONE

[2016-04-13 00:02] twm1010 commented on #196
Also seeing this when trying to run a number of commands to troubleshoot:

[root@headnode (texas) ~]# sdcadm check-health
sdcadm: error: unexpected number of "sdc" apps: NaN
[root@headnode (texas) ~]#

[2016-05-05 13:16] technostar98 opened #199 "Change headnode hostname via AdminUI"
I was able to change the headnode hostname via the AdminUI while I was adding a compute node to the network. Asked me to "setup this server". It allowed me to go through and rename it.

![image](https://cloud.githubusercontent.com/assets/4977652/15044342/0f5cde0a-12a2-11e6-8a10-6d1f24b97c2d.png)

[2016-05-09 03:16] andrewrothstein opened #200 "old crusty hardware won't boot from a SmartOS USB key. will boot a DVD..."
In my eBay garbology experiments I've picked up a supermicro x7-dbr-e running the latest bios and firmware. I'm trying to boot it as an SDC compute node. challenge is that it won't boot from any of the USB slots. it claims to but I've tried and tried again. it does have a slim dvd drive. I got it to iPXE boot from the DVD drive and boot up as a compute node. yay! challenge is it won't "register" w

[2016-05-09 03:41] rmustacc commented on #200
On 5/8/16 20:16 , Andrew Rothstein wrote:

Hmm, it's a bit odd that all the USB fails. Is that something that's
failing in the supermicro firmware?

In general, if the USB key can't work, you should be able to use
traditional PXE booting and shouldn't need to rely on the DVD drive.

As for the setup failure, @jclulow, does that sound familiar to you?

[2016-05-13 03:38] andrewrothstein commented on #200
to be clear, I got the node to iPXE boot. the challenge I'm having is that it won't register. I'm going to open a separate issue for that. thanks for the tips!

[2016-05-13 03:38] #200 closed

[2016-05-13 04:20] andrewrothstein opened #201 "compute node won't register"
got my first compute node to iPXE boot - yay! unfortunately having problems getting it to register. it's failing on the cnapi.execute_agentsetup_script step. if I'm reading the job details correctly it looks like

[code]

I'm a total noob so no suggestion is too obvious here. I get that it's trying to setup the compute agent on the compute node. Do you think it's connectivity issue between the hea

[2016-05-16 05:54] jclulow commented on #201
Hi Andrew,

The workflow job that is executing here is defined in [lib/workflows/server-setup.js](https://github.com/joyent/sdc-cnapi/blob/master/lib/workflows/server-setup.js) in the CNAPI repository.  The specific step in the chain that appears to be failing for you is [cnapi.execute_agentsetup_script](https://github.com/joyent/sdc-cnapi/blob/master/lib/workflows/server-setup.js#L422-L427).  If

[2016-05-16 15:18] andrewrothstein commented on #201
Thanks for the tips! My heavy handed solution was to upgrade the headnode, reboot the headnode, followed by a reboot on my compute node. After all of that recycling it registered. I'm going to do the archaeological dig to figure out wtf happened.

[2016-05-16 15:18] #201 closed

[2016-05-18 15:39] gustavopinto opened #202 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. **sdc** was in my list. However, I observed that the software history of when the software was developed as a proprietary software was not kept after the transition to Github.

K

[2016-05-18 15:42] rmustacc commented on #202
On 5/18/16 8:39 , Gustavo wrote:

Which repositories are you referring to? Almost everything to my
knowledge has its source intact.

[2016-05-19 00:32] davepacheco commented on #202
We very much agree that the software history is extremely useful for developers, and I believe we preserved it for nearly all of the repositories that were open-sourced as part of the SDC and Manta projects.

[2016-05-24 23:18] #202 closed

[2016-05-24 23:20] gustavopinto commented on #202
Hi @davepacheco, thank you for you time. Your explanation in the other issue was valuable, so I'm closing this one too.

Thanks once again.

Gustavo

[2016-05-28 05:33] andrewrothstein opened #204 "second compute node setup issue"
Thanks for the setup debugging hints in #201. I'm trying to add in my second node. The server setup fails at the same step....cnapi.execute_agentsetup_script.

Dug into the log files for the cnapi service. these are the last couple lines of the error message.

configured usbkey mountpoint: \"/mnt/usbkey\"
directory \"/mnt/usbkey\" does not exist; creating.
candidate devices: /dev/dsk/c0t0d0p1
fetc

[2016-06-01 18:36] rmustacc commented on #204
@jclulow can you take a look at this when you have a chance?

[2016-06-01 20:52] jclulow commented on #204
@andrewrothstein In #201 I mentioned the `/var/log/agent-setup.log` log file.  Did you happen to get a copy of this when the failure occurred?

[2016-06-02 03:49] andrewrothstein commented on #204
@jclulow I'm unable to ssh into the compute node as the root user using the same password as the headnode root user password so I can't see that. That same root pwd doesn't work at the physical console for the node either.

in my attempts to hit every button possible, I saw this:
[code]

not sure if that's related.

[2016-06-02 04:28] andrewrothstein commented on #204
I made a change in the BIOS shutting off the "RAID" mode and turning on the "AHCI" mode for the disks. I don't think SmartOS was seeing any disks on the compute node. Made that change and it looks like it's setting up ... slowly.

Thinks the takeaway are to stop buying sh!t hardware from ebay and to have more patience in waiting for the hosts to come on line..

[2016-06-02 04:28] #204 closed

[2016-06-02 04:31] rmustacc commented on #204
On 6/1/16 20:49 , Andrew Rothstein wrote:

When you're booting a compute node in this way, it won't use the same
root password as the headnode. Instead you have to get the platform
default password which is on the physical usbkey. You can use
`/usbkey/scripts/mount_usb.sh` to mount it and you should see something
in `/mnt/usbkey/private` IIRC.

[2016-06-17 02:53] clord opened #205 "Post-install fails in headnode.sh"
While going through the final phase of install of `SmartOS Live Image v0.147+ build: 20160609T011018Z`, the following message appeared on my console:

[code]

Going to the logs, I noticed the following error in `/var/svc/log/system-smartdc-init:default.log`:

[code]

I edited `/mnt/usbkey/scripts/headnode.sh` line 713 and inserted:

[code]

and the installer completed. However, the next command I

[2016-06-17 02:55] clord commented on #205
I've repeated this after rewriting my usb key and wiping the zones pool

[2016-07-05 17:45] twm1010 commented on #205
Seeing similar issues trying to install on a 6th generation Intel NUC. I was only able to move forward by imaging the internal SATA disk as my "boot" drive to work around no support for USB3.X

[2016-07-13 02:16] wangjing-samsung opened #206 "Run sdcadm post-setup cloudapi fails"
I am trying to follow https://github.com/joyent/sdc/blob/master/docs/developer-guide/coal-setup.md

Output of sdcadm post-setup cloudapi:

[root@headnode (coal-1) ~]# sdcadm post-setup cloudapi
Attempt #1 failed with error SDCClientError: updates client error: getaddrinfo ENOTFOUND; caused by Error: getaddrinfo ENOTFOUND. Retrying again in 100 msecs
Attempt #2 failed with error SDCClientError: upd

[2016-07-13 02:18] rmustacc commented on #206
What's the output of `sdc-healthcheck`?

[2016-07-13 02:23] wangjing-samsung commented on #206
[root@headnode (coal-1) ~]# sdc-healthcheck
ZONE                                 STATE           AGENT               STATUS
global                               running         -                   online
assets                               running         -                   online
sapi                                 running         -                   online
binder

[2016-07-17 21:56] konobi opened #207 "Update documentation regarding addition of SSL certificates."
We just debugged and fixed an issue in `#smartos` regarding adding real SSL certificates for a docker install, etc.

The documentation needs to be updated to take account of changes in the SSL ecosystem. Certificates are now being signed with extra additional intermediates to allow for more inter-CA trust, validation and revocation. We've seen this lots lately in relation to changing of certificat

[2016-07-28 13:00] themisanthrope commented on #180
+1

Would love to have access to this - doing it manually is a pain.

[2016-08-08 20:40] bahamat commented on #180
Related, [RFD 34](https://github.com/joyent/rfd/blob/master/rfd/0034/README.md).

[2016-08-15 23:50] themisanthrope commented on #180
Many thanks - I'll keep an eye on it!

[2016-08-31 00:11] elcritch commented on #205
:+1: Running into this while trying to setup an R610 server for a test install.

[2016-09-01 20:06] nathans opened #208 "smartos standard image 15.11 has broken puppet install"
With apologies if this is not the correct venue for bug reports for smartos images...

We are using Triton private cloud and discovered recently that the standard smartos image v. 15.1.1 (d778a286-0de7-11e5-b792-d341e8fe14e6) has a broken puppet install out of the box:
[code]
This is after running pkgin upgrade.

It appears that the installed puppet-3.1.1 has a dependency on the 1.x branch of fact

[2016-09-05 15:17] foxx opened #209 "Publishing images"
(UPDATED)

I'm creating a DCOS image, to be used on Triton Enterprise, however there doesn't seem to be any documentation on how to push this image to your own image repository (e.g. like `images.joyent.com`) or instructions on how to add your custom image server into the dropdown list under the "images" tab.

In situations where you have multiple deployments of Triton, but instead want to use a s

[2016-09-06 10:44] foxx opened #210 "Running self-update results in crash"
Not sure if this is an actual crash or not, but the logs say that a service was out of resources, even though there's plenty of RAM/disk? I've trawled Google for as many variations of the log output as possible, but can't find a single thing that would indicate what's happening. Any ideas?

There was a discussion [here](https://echelog.com/logs/browse/smartos/1447196400) about someone running into

[2016-09-06 11:14] kusor commented on #210
I assume `svcs -xv` is clean in your headnode, right?. If so, have you tried to manually import the sdcadm manifest?. It should be available at the mentioned path `/var/svc/manifest/site/sdcadm-setup.xml` so `svcadm import -v /var/svc/manifest/site/sdcadm-setup.xml` could provide some enlightenment on what's going on.

[2016-09-06 11:20] foxx commented on #210
Thanks for the quick reply! Output from `svcs -xv` is blank.

Did you mean `svccfg`, as the original logs show that, and also `svcadm` shows invalid command as seen below.

Here is the output from both though;

[code]

[code]

[code]

[2016-09-06 11:31] foxx commented on #210
Not sure if this is relevant or not, but `ramdisk` is showing as full, would that be having an impact?

[code]

Others are showing high but not full;

[code]

[2016-09-06 11:55] kusor commented on #210
I'd say it'll be related yes. Now the thing is to figure out why it's full, though

[2016-09-06 11:58] foxx commented on #210
Not sure if this helps but here's some `truss` output;

[code]

It seems to start reading the XML file, then creates a [door](http://dtrace.org/blogs/rm/2011/04/04/racing-in-the-depths-of-smf/) via `/etc/svc/volatile/repository_door`, then `door_info` is called a whole bunch of time and eventually ends with ;

[code]

[2016-09-06 12:00] foxx commented on #210
As for the space usage, there were some files inside `/tmp` which I've now removed (they were placed there when uploading SSL certs). Inside `/root` there were two files `bootstrap-2016Q2-x86_64.tar.gz` and `bootstrap-2016Q2-x86_64.tar.gz.asc` which were taken from [here](https://pkgsrc.joyent.com/install-on-illumos/).

I've removed those files which dropped it down to 91%. I'm not seeing anything

[2016-09-06 12:19] kusor commented on #210
Yeah, if you don't have any problem restarting it, has sense to give it a shoot

[2016-09-06 12:32] foxx commented on #210
Okay I'll wait for the updates server to come back before taking those steps, which should tell us the root cause of what actually went wrong. Will reply shortly

[2016-09-06 14:06] kusor commented on #210
The updates server should be back now, I've just restarted it

[2016-09-06 14:11] foxx commented on #210
Awesome thanks @kusor, that seems to have fixed the download problem!

As suspected, freeing up ramdisk space has also fixed the install problem.

[code]

I'm going to close this ticket down and open up a new one regarding file space errors.

I'll also open one up about getting the updates repo added to the status alert pages, as the server itself was up but downloads were not.

[2016-09-06 14:11] #210 closed

[2016-09-06 14:15] foxx opened #211 "Ramdisk gets full, causing havoc"
Follow up from https://github.com/joyent/triton/issues/210.

Ramdisk on Triton will sometimes get filled up, causing commands such as `sdcadm self-update --latest` to crash out with no explanation other than a generic resource warning.

The ramdisk filled up because I downloaded 25MB worth of files to `/root` and `/tmp`. Given that a headnode should have 128GB+ RAM minimum for prod engineering spe

[2016-09-06 14:17] foxx opened #212 "Better monitoring for updates repo"
Follow up from https://github.com/joyent/triton/issues/210.

The updates repo (`https://updates.joyent.com`) was showing as up and redirect to docs, however any attempts to download images resulted in a delayed 5xx error, as seen in https://github.com/joyent/triton/issues/210.

The joyent status [page](http://status.joyent.com/) did not indicate any problems, and it required a manual restart by @k

[2016-09-06 17:20] rmustacc commented on #211
Growing the ramdisk has more impact than just the amount of memory used. Increasing the size of the ramdisk can have a fairly noticeable impact on the time it takes for ipxe, grub, or other bootloaders to read in memory. So I'm not sure that we can really afford to increase the size of the ramdisk.

Regarding the error message, can you provide a bit more context for what that was from? We should d

[2016-09-06 19:15] foxx commented on #211
Sure thing, the error came from trying to run `sdcadm self-update --latest` when the disk space was at 100%, it resulted in the following output from https://github.com/joyent/triton/issues/210.

[code]

[2016-09-06 20:26] rmustacc commented on #211
Okay, thanks. I filed https://smartos.org/bugview/OS-5648 to cover improving the svccfg import message here so we can make discovering what went wrong simpler.

[2016-09-06 20:35] foxx commented on #211
@rmustacc Thanks for the quick response, much appreciated!

[2016-09-06 20:35] #211 closed

[2016-09-06 23:05] bahamat commented on #212
This isn't a code issue, it's an operational issue for Joyent's cloud ops team. We're working on this internally, but we don't use github for operational issues so I'm closing this.

[2016-09-06 23:05] #212 closed

[2016-09-06 23:06] foxx commented on #212
@bahamas10 Yeah I wasn't sure where to best raise it, typically I've been raising them here and then someone creates an internal ticket. Should I be following a better procedure to report these sorts of issues?

[2016-09-06 23:16] bahamat commented on #209
You can use the [AdminImportRemoteImage](https://github.com/joyent/sdc-imgapi/blob/master/docs/index.md#adminimportremoteimage-post-imagesuuidactionimport-remote) API endpoint, either directly or by using `sdc-imgadm import` with the `-S` option to specify the remote imgapi URL.

[2016-09-06 23:29] bahamat commented on #212
@foxx Don't get me confused with @bahams10, he's someone else ;-)

There isn't anything necessarily wrong with reporting it here, and we do have an internal issue for it. We try to keep a discrete separation between code issues and operational issues. The only mechanism to report operational issues is for cloud or on-prem customers to file a ticket at help.joyent.com.

But at any rate, there reall

[2016-09-06 23:31] foxx commented on #212
Oops my bad, typo! No worries, for anything operational I'll submit a ticket instead. Thanks for quick response 👍

[2016-09-06 23:38] foxx commented on #209
Perfect, that's precisely what I was looking for, thank you!

[2016-09-06 23:38] #209 closed

[2016-10-14 10:44] igorspasic opened #213 "Add information how to access docker remote API on CoaL"
I have installed CoaL, and docker commands work. However, when I want to access Docker remote API from my mac:

    curl --cert $DOCKER_CERT_PATH/cert.pem --key $DOCKER_CERT_PATH/key.pem http://10.88.88.6:2376/images/json --verbose

Ive got... nothing:

[code]

I haven't seen anywhere in the docs example of access remote API. How to do this?

[2016-10-14 14:11] rmustacc commented on #213
Just to confirm, you've already gone through https://docs.joyent.com/private-cloud/install/advanced-configuration and set up docker, right?

[2016-10-14 14:25] igorspasic commented on #213
I used docs from GitHub, but on that page I did things from: https://docs.joyent.com/private-cloud/install/advanced-configuration#setup-docker

[code]

So `docker` cli is working.

[2016-10-14 16:11] twhiteman commented on #213
If the docker cli is working correctly, then this issue may be due to curl itself. See this docker curl issue for example:
https://github.com/docker/docker/issues/16107

Note: I've never been able to use curl to communicate with a docker server on the Mac, though I have used other tools (node.js for example) to connect just fine.

[2016-10-14 16:33] igorspasic commented on #213
Ok, maybe `curl` is not working; but docker fails when building images:
[code]

[2016-10-14 16:55] twhiteman commented on #213
@igorspasic Quite possibly an issue, though please file a separate issue for that (and please include details, like a Github repository that contains the Dockerfile and files in question - so we can try to reproduce the problem), thanks.

[2016-10-14 17:47] askfongjojo commented on #213
@igorspasic - For the `curl` issue, the endpoint should be https, not http. If you are using OS X, you also have to follow these steps to store your key in KeyChain (https://github.com/docker/docker/issues/16107).

With the above changes, remote API should work on your CoaL:
[code]

[2016-10-14 18:12] #213 closed

[2016-10-17 03:18] marcus-sds opened #214 "Can we create multiple portolan instances?"
When I check "https://docs.joyent.com/private-cloud/resilience", the portolan seems to be only one instance. But "https://docs.joyent.com/private-cloud/networks/sdn/architecture" this one shows that we can use many portolan instances.

How can we create additional portolan instance?

[2016-10-20 02:19] choonho opened #215 "Failed to add compute node"
When I add compute node by PXE.
There is no compute node in the servers list.
![image](https://cloud.githubusercontent.com/assets/3993088/19544022/aa523336-96b6-11e6-8dc6-73bdb5ce4324.png)

And headnode says "Requires Setup".
This must be compute node.
The Network Interfaces of headnode is changed to compute node.

![image](https://cloud.githubusercontent.com/assets/3993088/19544042/e7bf32c8-96b6-

[2016-10-20 02:23] choonho commented on #206
I have same problem, and the reason was network connection.
When install cloudapi, headnode have to reach https://updates.joyent.com.
So check the network connections such as proxy.

[2016-10-20 03:57] askfongjojo commented on #215
@choonho, can you ssh into the headnode, execute the following, and let us know what is returned?
[code]

[2016-10-20 05:24] choonho commented on #215
[root@headnode (CPG) ~]# sdc-cnapi /servers
HTTP/1.1 200 OK
Content-Type: application/json
Content-Length: 607
Date: Thu, 20 Oct 2016 05:23:40 GMT
Server: Compute Node API
x-request-id: 65c5202b-5175-472f-8f77-279484c2323a
x-response-time: 6
x-server-name: 0b0cf1c7-8d90-42eb-8532-dcf2bc421c0e
Connection: keep-alive

[
  {
    "datacenter": "CPG",
    "overprovision_ratio": 1,
    "reservation_rati

[2016-10-20 05:55] askfongjojo commented on #215
The CN add seems unsuccessful. As you can see, there is only one server record and it is for the headnode. But somehow the setup appears to have rerun for the headnode, because AdminUI has found that the most recent setup job for this server uuid has failed and displays the "requires setup" prompt. During the course, it might have re-provisioned admin nics for it.

It'll be helpful to locate all t

[2016-10-20 07:06] choonho commented on #215
The first error at Jobs is

napi.update_nics
first of 1 error: {"message":"napi_nics::161331843469 was expected to have etag \"BFEE8A62\", but was \"3A4F8765\""}

and this may be related with
![image](https://cloud.githubusercontent.com/assets/3993088/19549407/26fd1b4e-96df-11e6-82e6-874f41902d37.png)

[2016-10-20 07:10] choonho commented on #215
When I test sdc-agents-healthcheck, it shows

[root@headnode (CPG) ~]# sdc-agents-healthcheck
00020003-0004-0005-0006-000700080009 provisioner error
00020003-0004-0005-0006-000700080009 zonetracker error
00020003-0004-0005-0006-000700080009 ur ok
00020003-0004-0005-0006-000700080009 heartbeat error
[root@headnode (CPG) ~]#

Is this problem?

[2016-10-20 15:10] gochist commented on #187
I made a PR https://cr.joyent.us/#/c/746/ to add Ubuntu support.

[2016-10-24 19:24] cburroughs commented on #187
@siepkes As the original author, it would be great if you could take a look at https://cr.joyent.us/#/c/746/

[2016-10-24 20:39] siepkes commented on #187
@cburroughs sure!

@gochist I added a comment to the Gerrit change ( https://cr.joyent.us/#/c/746/ ). I'm interested to hear what you think!

[2016-10-26 00:17] aboron opened #216 "NIC Tag documentation improvement"
While attempting to add a 3rd physical network I consulted the documentation on creating NIC Tags at:
https://docs.joyent.com/private-cloud/networks/nic-tags
And also the creating network definition page at:
https://docs.joyent.com/private-cloud/networks

Both were complete with many screen shots and details on how to create a network and a nic tag, but neither page goes all the way to showing whe

[2016-10-26 12:19] gochist commented on #187
@cburroughs @siepkes I updated my humble opinion and change at ( https://cr.joyent.us/#/c/746/ ).

- qcow2 is default image format and added "--use-raw-image" option for developers who prefer disk performance to saving disk space or snapshot function according to @siepkes ' review comment.
- x-data-plane option will be enabled only if it is applicable

[2016-10-26 17:46] aboron opened #218 "Headnode install script failure"
Happens when installing a headnode for a real domain (example.com) where either a wildcard dns (*.example.com) or , less likely, a host definition for sapi.example.com actually resolves to a web server.

The initial agents install script fails while running postinstall.sh for config-agent due to getting an 404 reply when none is expected.

The log file does not make note of what url curl is trying

[2016-10-28 18:06] #187 closed

[2016-10-29 09:46] siepkes commented on #187
@gochist Thanks for your contributions and insights! Good to see the script was useful!

[2016-11-09 16:28] gochist opened #219 "CoaL on KVM can't mount usbkey"
Current CoaL on KVM can't mount usbkey as below.

[code]
[code]

As @jclulow mentioned in https://github.com/joyent/sdcadm/issues/25#issuecomment-245766420, changing disk driver/model from "virtio" to "ide" works for me.

[code]

[code]

[2016-11-09 16:43] gochist commented on #219
I've made a review request at https://cr.joyent.us/#/c/863/

[2016-11-14 05:35] #219 closed

[2016-11-18 02:04] vans163 opened #220 "Baremetal install. Non-random input keeps spamming commandline shell."
On a baremetal install non-random input keeps spamming.  This happens when you get to the screen to choose to use Compute, Live 64 and etc.  When you press c on any of the choices to enter the cmdline, non-random characters spam often these: "GNU  GU1;00H    GNU GU1;00!:))H    GNU GU1;00H"  And it never stops.

Makes it impossible to change to VGA mode as I am getting indefinite hang blinking curs

[2016-12-31 21:38] dillona opened #222 "Support coal on CentOS 7 KVM"

[2017-01-03 08:48] piaohai commented on #180
+1

[2017-01-03 21:26] #222 closed

[2017-01-04 01:17] dillona opened #223 "External network shouldn't have QEMU DHCP service"
The headnode's dhcpd zone will handle this instead

[2017-01-13 00:37] novuscy commented on #205
Mine is similar, the log says: cat: cannot open /opt/smartdc/agents/etc/net-agent: No such file or directory, any solutions?

[2017-01-16 16:12] nshalman opened #224 "Feature Request: Let's Encrypt integration for on-prem installations"
It would be really nice to be able to stand up a datacenter and have valid certificates be set up and renewed automatically.

Obviously to automate this all services that would use Let's Encrypt certificates would either have to be accessible over the public internet, or at least the DNS records for them would have to be accessible over the internet and controlled by a Triton API (possibly by exte

[2017-01-16 19:15] bahamat commented on #224
[HEAD-2290](https://smartos.org/bugview/HEAD-2290).

[2017-01-16 19:44] nshalman commented on #224
Glad to see it's on the radar. I'm closing this one since it's a duplicate of [HEAD-2290](https://smartos.org/bugview/HEAD-2290).

[2017-01-16 19:44] #224 closed

[2017-01-19 13:36] labchef opened #225 "Triton for x64 ?"
Hi ! I've reviewed this technology and found next problems:

SVR4 hypervisor from 90's. x86 platform in 2017 ?
In the standard 32-bit x86 smp kernel, each process can use 3GB of the 4GB address space and 1GB is used by the kernel (shared in the address space of each process). This means that each virtual CPU will spend more resources for the conversion from x86 to x64.

Maybe this isn't bad for x8

[2017-01-19 16:50] bcantrill commented on #225
This is entirely wrong; as `isainfo` will tell you, we support x64 (née amd64), and always have.

[2017-01-19 16:50] #225 closed

[2017-02-26 05:41] dillona opened #226 "CoaL platform update contains extra step"
The CoaL setup document has separate steps for getting the latest platform image and assigning it to all servers. This is not necessary since TOOLS-1073 was committed a few years ago. This adds the --latest option to sdcadm platform assign

[2017-02-27 19:34] trentm commented on #226
https://cr.joyent.us/#/c/1577/

[2017-02-27 19:34] #226 closed

[2017-03-17 15:51] dalu opened #227 "Keyboard not working"
An older Xeon E3-1275v2 machine with 32GB RAM and a USB mouse and USB keyboard.
I copy to usb and boot from usb key.

Yes I have read that it apparently has issues with USB3.0.
I plugged it into the USB2.0 port.

Well the problem is, not matter what USB port I plug the keyboard in I can't "press enter".
Meaning I can't install or setup sdc7.

All I can do is reset.
I installed SmartOS previously o

[2017-03-17 18:03] misterbisson commented on #227
It sounds like you're using a vga console, but the default is for serial. Did you change that in the grub menu?

Look for `grub> variable os_console vga` in [the readme](https://github.com/joyent/triton).

[2017-03-17 20:02] dalu commented on #227
Thanks for feedback.
I just found that out myself :) I then went and set vga as default on the USB key.
There was an error regarding UFS and /usbkey
They way I see it, it first installs SmartOS then goes on and installs the zones/manifests.
I could've just kept my previous  SmartOS installation and switched to vga console.
The more you know.

Thanks for help :)

[2017-03-17 20:02] #227 closed

[2017-04-04 19:13] ChrisCros opened #228 "Test"

[2017-04-05 13:00] #228 closed

[2017-04-17 22:43] matthewpucc commented on #215
It looks like I'm running into this same problem. On a default install, new ixpe booted nodes are being deployed as a headnode. I've tried adding "headnode": false, to the kernel arguments. I also added a hostname of "node-init". The ipxe booted compute node comes up with this new hostname but the original headnode still see's it as the same guid and marks it as "headnode" as well.

Has there been

[2017-04-28 22:57] bahamat commented on #215
This is happening because there are multiple CNs with the same UUID. This confuses CNAPI because it thinks they are the same CN. You'll need to contact your hardware vendor for a utility to update the SMBIOS UUID.

[2017-05-18 22:36] DarkBlaez opened #230 "Headnode install fails"
I've tried to install Triton many times on HP Proliant DL360 G5 and a G6. The result is always the same. Vmadmd and config-agent fail resulting in init:default failing. I imagine if this were system specific I'd see different results. This seems to be an installer issue. I see similar issues dating back to 2016. Since I am documenting this install for a blog, what can be done to resolve. So far gi

[2017-05-19 00:08] DarkBlaez opened #231 "Is this project dead?"
In looking at some of the outstanding issues which date back to 2015, is this open sourcing of SDC/Triton dead? There seems to be very little engagement as compared to other full stack opern source efforts. More of a curiosity so I know where to spend my time.

Thanks
DB

[2017-05-19 00:10] DarkBlaez commented on #205
This issue still persist in the current 2017 build. The installer craps out consistently across various servers.

[2017-05-19 12:46] tgross commented on #231
Hi @DarkBlaez! The open sourcing of Triton is alive and well, but you might find that GitHub issues are better targeted towards the [specific repos](https://github.com/joyent/triton/blob/master/docs/developer-guide/repos.md) for the various subcomponents. Most components are code-reviewed via [Gerrit](https://github.com/joyent/triton/blob/master/CONTRIBUTING.md) rather than here on GitHub, so that

[2017-05-19 12:46] #231 closed

[2017-05-19 12:48] tgross commented on #230
@DarkBlaez you haven't provided much in the way of details here as to what issues you're seeing. You might find that [the mailing list or IRC](https://github.com/joyent/triton/blob/master/README.md#community) are a better fit for this sort of open-ended support request.

[2017-05-19 12:48] #230 closed

[2017-05-19 13:06] tgross commented on #23
This issue looks like it's dead. I'm sure Scott followed up in the mailing list or IRC. Going to close it to tidy up.

[2017-05-19 13:06] #23 closed

[2017-05-19 13:07] tgross commented on #169
@misterbisson @ShubhraKar this is a bit of an old issue but do we have updates on this?

[2017-05-19 14:20] cheapRoc commented on #206
Hello @wangjing-samsung, this issue is a year old and looks like there's a potential answer. Also, you’ll receive a much quicker responses on both the [mailing list and IRC channel](https://github.com/joyent/triton/blob/master/README.md#community).

For now we're going to close this ticket and we can re-open if you're still experiencing the same issue. Good luck!

[2017-05-19 14:20] #206 closed

[2017-05-19 15:17] cheapRoc commented on #47
I'm triaging GitHub issues and closing stuff like this. Your issue is several years old and you appear to have found a solution that works for you, which is great!

Please let us know if there's a continued problem. I also highly recommend both [the mailing list and IRC channel](https://github.com/joyent/triton/blob/master/README.md#community) for more detailed support and responses.

[2017-05-19 15:17] #47 closed

[2017-05-19 15:25] cheapRoc commented on #170
This issue crossed over into [joyent/sdc-adminui](https://github.com/joyent/sdc-adminui) and was addressed by [PR #153](https://github.com/joyent/sdc-adminui/pull/153). Fairly certain this can be _closed_ but going to wait on confirmation from @naisanza that this is resolved or isn't on his radar anymore.

[2017-05-19 15:41] cheapRoc commented on #174
I realize this thread pertained specifically to [CreateFromMachineImage](https://apidocs.joyent.com/cloudapi/#CreateImageFromMachine) within [joyent/sdc-adminui](https://github.com/joyent/sdc-adminui) but it's still worth advertising that you can achieve similar support by creating your own custom VM images using [a Packer template](https://gist.github.com/cheapRoc/0195cb6f38feeb62db70d3aa2155920a

[2017-05-19 20:29] cheapRoc commented on #182
Thanks for the suggestion, going to close this one since there isn't really an issue here.

[2017-05-19 20:29] #182 closed

[2017-05-19 20:31] cheapRoc commented on #186
Going to close this one too since it appears this isn't really an issue as much as a feature request or suggestion that isn't officially supported. Please feel free to hit us up on IRC or the mailing list as suggest above, thanks!

[2017-05-19 20:31] #186 closed

[2017-05-19 20:33] cheapRoc commented on #49
Sounds like the issue was resolved successfully. Going to close this now.

[2017-05-19 20:33] #49 closed

[2017-05-19 20:41] melloc commented on #214
@marcus-sds As of [TOOLS-1644](https://smartos.org/bugview/TOOLS-1644), you can now do this. See the [sdcadm documentation](https://github.com/joyent/sdcadm/blob/master/README.md#create-portolan-ha-instances) for instructions on how to do so.

[2017-05-19 20:41] #214 closed

[2017-06-07 02:44] benjamin-bergia opened #232 "HN and CN ssh key"
I remember that at the time of sdc6 it was possible to add public keys to the headnode, but I can't find this in the new triton doc.

Is it still possible to add public keys to the authorized_keys of my headnode ? If yes is it possible on the CNs too ?

[2017-06-08 16:38] cheapRoc commented on #232
I believe what you're looking for is [documented here](https://docs.joyent.com/sdc6/managing-smartdatacenter-users-and-passwords). Basically, you edit your USB key for additional configuration used during your head node and compute node installation. I'm unsure of any more of particulars but posting over at [joyent/sdc-headnode](https://github.com/joyent/sdc-headnode) should help as well. Hope tha

[2017-06-08 16:38] #232 closed

[2017-06-08 16:52] cheapRoc commented on #232
Apologies, that link is the old one which you probably referenced. Still digging up the new docs but you should be able to edit your USB key's `root.authorized_keys`. Check `/usbkey/config.inc/generic` or `/usbkey/extra/joysetup/node.config` for the configuration.

[2017-06-08 16:53] cheapRoc commented on #232
If that doesn't work re-open over at [joyent/sdc-headnode](https://github.com/joyent/sdc-headnode).

[2017-06-08 17:18] cheapRoc commented on #232
Also... http://www.perkin.org.uk/posts/smartos-global-zone-tweaks.html

[2017-06-08 20:57] cheapRoc commented on #218
@aboron Thanks for the information. I actually remember having the exact same issue when I installed Triton myself. It took me a little bit to realize the issue with my domain name collision.

I'm going to bring this up with our internal documentation effort and pass along the info. Thanks again for helping out.

[2017-06-08 20:57] #218 closed

[2017-06-09 01:48] benjamin-bergia commented on #232
Ok I will give it a try. Since the CNs are using PXE where is their configuration stored ?

[2017-06-13 10:51] cheapRoc commented on #232
@benjamin-bergia Are you performing PXE at boot or on-board PXE? I'm fairly confident PXE at boot uses the USB key configuration as well.

[2017-06-15 03:55] benjamin-bergia commented on #232
PXE but unfortunately I have not restarted any CN recently so I haven't be able to check if it works.

[2017-06-15 04:28] abdulhannanali opened #233 "So you saying this whole Triton thing is open source?"

[2017-06-15 15:46] davepacheco commented on #233
[Yes](https://www.joyent.com/blog/sdc-and-manta-are-now-open-source).  Are you having trouble finding the source for something?

[2017-06-15 15:46] #233 closed

[2017-06-15 15:46] arekinath commented on #233
If you're referring to the fact that this repo doesn't contain the code, the README explains how it works. Triton is spread out across a number of repositories, which have all the actual code (see for example, https://github.com/joyent/sdc-vmapi for one of the core API services). This repo is just a landing point for visitors.

[2017-06-16 02:03] abdulhannanali commented on #233
@davepacheco Nop, not really, as it's far beyond my understanding right now. But Joyent is pretty cool company supporting open source in so many ways. Really takes guts to open source the whole cloud. Would love to learn more about inner workings, as I read the blog post you mentioned, and if many components are written in JavaScript maybe I can understand it too.

[2017-06-16 02:04] abdulhannanali commented on #233
Thanks for the help @arekinath

[2017-06-26 08:35] mytototo commented on #231
@tgross Please do. I needed to search "Is Joyent Triton dead" on Google to make sure the project is still alive and well maintained. The first result was this issue.

[2017-08-19 21:56] kriss9 opened #234 "VMAPI LX Branded Zone JSON Error and Documentation"
Currently, when issuing a command to Triton via VMAPI to create a LX branded zone, the POST fails with the following error:

[code]

Creating an OS VM with similar specified parameters works well.

See [https://gist.github.com/kriss9/8534033c9ed2179bea807816312f680c](https://gist.github.com/kriss9/8534033c9ed2179bea807816312f680c)

This request is to
1) Determine correct format for creating LX bra

[2017-08-25 21:58] jbarfield opened #235 "post-setup common-external-networks documentation or installer bug"
Goal:
Install Triton Datacenter

Following this guide:
https://docs.joyent.com/private-cloud/install/headnode-installation

Problem:
I was able to install Triton up to the "sdcadm post-setup common-external-nics" point. At which point I continually received the following error:
napi client error (ServiceUnavailableError): Initial network data not loaded

Work Around:
I logged into the napi0 zone a

[2017-08-26 15:25] jbarfield commented on #235
forgot to mention that this is on the latest usb release:
20170817T070613Z

[2017-09-06 21:21] Smithx10 opened #236 "reference.md is dated"
[reference.md](https://github.com/joyent/triton/blob/67b78a7d9194254f40bd2fa8f96a62a79b253bcb/docs/reference.md) doesn't include sdc-docker, sdc-cns, sdc-cmon etc.

[2017-09-07 12:10] smartb-pair opened #237 "`npm install -g triton` broken?"
[2017-09-07T12_04_02_966Z-debug.log.zip](https://github.com/joyent/triton/files/1284585/2017-09-07T12_04_02_966Z-debug.log.zip)
On macOS 10.12.6 we see:
[code]
Logfile is attached.

[2017-09-07 12:16] smartb-pair commented on #237
Running `npm config set unsafe-perm true` seems to be a valid workaround...

[2017-09-08 05:52] melloc commented on #236
Updated in a8e5090.

[2017-09-08 05:52] #236 closed

[2017-10-13 17:33] bahamat commented on #234
You should use AdminUI or CloudAPI to create instances. It's not recommended to create them directly via vmapi.

Nevertheless, to see the correct format, create an instance via cloudapi or adminui and then inspect the provision job.

[2017-10-14 14:49] kriss9 commented on #234
Thanks for the response/insights. This may be helpful, currently the docs suggest developing and/or integrating with vmapi is a desired goal. An update to the docs with a reference to the other APIs and a link to their documentation may make it easier to develop in the environment.

[2017-10-20 16:25] grant-roy commented on #235
Anyone know what else might cause this? I have the same error but my configuration file is populated.

[2017-11-25 13:29] cmacrae opened #239 "When using an internal CA: triton CLI gets 'INVALID_PURPOSE'"
Hi guys 👋

I've been trying to establish my own internal CA for my on-prem deployment of Triton.
I've installed all my certificates [as per the documentation](https://docs.joyent.com/private-cloud/install/ssl-certs) and have confirmed they're working as expected (using the `openssl` CLI and `curl`).

However, when I attempted to set up the Triton CLI on my desktop to interact with it, I ran into s

[2017-12-07 00:32] arekinath commented on #239
This error is coming from OpenSSL, complaining that some certificate in the validation chain has a purpose set that it doesn't support. Node.js statically links its own version of OpenSSL, so this might be a version issue? If you're happy to provide the certificate chain I'm happy to have a look through it and see if I can tell you which purpose is the problem.

[2017-12-07 10:34] cmacrae commented on #239
Hey @arekinath 👋 Thanks for your response.

Okay, that's interesting. The allowed uses I gave to my cert are as follows:
[code]
Most of these are most certainly superfluous, just added in fleeting attempts to resolve the above issue.

I'm happy to provide the certificate chain, as this is something I've been regularly destroying and regenerating whilst trying to get this working: [here you go](htt

[2017-12-19 11:39] alaslums opened #240 "triton instance unaware of user ssh keys vs account ssh keys"
Hi There,

I'm not sure if this is by design, but at present it looks like the "triton instance create" command always uses the account SSH keys, even if logging in via a user (as specified via "account" + "user" fields in the profile).

In this example, the account has no ssh keys, but my user account does:

# triton instance create --name=foobar ubuntu-16.04 g4-highcpu-128M
triton instance creat

[2018-02-09 18:26] netg5 commented on #204
I faced the same issue for the first time the compute node was setup by Admin UI but after reboot it's can't turn up but in kvm console I can see the image has been loaded. Any idea how I can fix this ?

[2018-02-25 16:14] netg5 opened #241 "vmadm delete & vmadm list node js error"
Hi
I am a fan of Joyent SDC. I have implemented more than 4 CN and 1HN. I have installed too many times for my production servers. But every version and time I faced different issue once the load is grow. After creating 150+ centos 6.8 container where installed nginx 1.10, php-fpm 5.5.38 and mysql 5.5. I faced massive performance issue where as my server is Dell R730xd dual E5 2.6Ghz, 128GB RAM 5T

[2018-02-25 16:20] netg5 opened #242 "request for develop HN & CN performance monitoring & history"
Dear Honourable Dev Team

Would you please develop HN & CN performance monitoring & history  . Where we can measure HN, CN and VM performance CPU, DISK, RAM, Thread etc. Without performance history no operator can't run this SDC correctly.

I have running the SDC since 2 years but still can't able to run properly where as I am running open stack same machine but no issue with 500+ container.

[2018-02-25 16:36] netg5 opened #243 "Error Cloud Analytics"
Hi
When server is high load server can't communicate with Analytics.

GET /ca failed: error: {"message":"connect ECONNREFUSED 10.1.0.122:23181"}.
[root@headnode (LON-RS-H01) ~]# kstat -p caps::cpucaps_zone_*
caps:1:cpucaps_zone_1:above_base_sec    28
caps:1:cpucaps_zone_1:above_sec 0
caps:1:cpucaps_zone_1:baseline  18
caps:1:cpucaps_zone_1:below_sec 51942
caps:1:cpucaps_zone_1:burst_limit_sec   0

[2018-02-25 16:37] netg5 commented on #242
Hi
I observed when the CPU load is high its even can't take the Analytics from cloud api

[root@headnode (LON-RS-H01) ~]# kstat -p caps::cpucaps_zone_*
caps:1:cpucaps_zone_1:above_base_sec    28
caps:1:cpucaps_zone_1:above_sec 0
caps:1:cpucaps_zone_1:baseline  18
caps:1:cpucaps_zone_1:below_sec 51942
caps:1:cpucaps_zone_1:burst_limit_sec   0
caps:1:cpucaps_zone_1:bursting_sec      0
caps:1:cpucaps

[2018-02-25 16:37] netg5 commented on #241
Hi
Its happened more over when the server CPU and disk is on load

[root@headnode (LON-RS-H01) ~]# kstat -p caps::cpucaps_zone_*
caps:1:cpucaps_zone_1:above_base_sec    28
caps:1:cpucaps_zone_1:above_sec 0
caps:1:cpucaps_zone_1:baseline  18
caps:1:cpucaps_zone_1:below_sec 51942
caps:1:cpucaps_zone_1:burst_limit_sec   0
caps:1:cpucaps_zone_1:bursting_sec      0
caps:1:cpucaps_zone_1:class     zone_

[2018-02-25 16:40] netg5 commented on #241
Hi
The CPU load avg
   PID USERNAME  SIZE   RSS STATE  PRI NICE      TIME  CPU PROCESS/NLWP
    89 root        0K    0K sleep   98  -20   3:47:11 0.7% zpool-zones/256
 92933 root       10M 7428K sleep   50    0   0:03:24 0.1% sshd/1
 22088 root       12M   11M cpu18   59    0   0:00:00 0.0% prstat/1
 53701 103        67M   51M sleep   59    0   0:10:22 0.0% beam.smp/75
 93129 root     4964K 2504K

[2018-02-25 16:41] netg5 commented on #241
Hi
Zfs status

[root@headnode (LON-RS-H01) ~]# zpool list
NAME    SIZE  ALLOC   FREE  EXPANDSZ   FRAG    CAP  DEDUP  HEALTH  ALTROOT
zones  5.44T   234G  5.21T         -     1%     4%  1.00x  ONLINE  -
[root@headnode (LON-RS-H01) ~]# zpool status
  pool: zones
 state: ONLINE
  scan: none requested
config:

	NAME        STATE     READ WRITE CKSUM
	zones       ONLINE       0     0     0
	  c1t0d0

[2018-02-26 15:50] cmacrae commented on #239
Hi team - is there anyone that's able to help me with this at all?
Right now I'm having to rely on LetsEncrypt certificates, which for my configuration, is less than ideal.

Thanks in advance

[2018-02-26 22:31] davepacheco commented on #243
Is the CA server running at 10.1.0.122 port 23181?

[2018-02-26 22:47] davepacheco commented on #242
Some work has been done to expose metrics from the system -- see [RFD 27](https://github.com/joyent/rfd/blob/master/rfd/0027/README.md) and more recently [RFD 94](https://github.com/joyent/rfd/blob/master/rfd/0094/README.md), which provides Prometheus endpoints for GZ metrics.  At this point, we've prioritized exposing metrics for use by external systems like Prometheus rather than trying to reimp

[2018-03-03 00:32] bahamat commented on #239
@cmacrae In the file you linked, both certificates x509v3 basic constraints have `CA:FALSE`.

Secondly, I hate to be the bearer of bad news, but you included a secret key in that file. While it is a secret gist, this is a public bug with a link to it and it has likely been discovered by bots. You should probably discontinue use of that key.

[2018-03-03 22:30] cmacrae commented on #239
@bahamat Ah the `CA:FALSE` parameter would be the reason then! Thank you :) And not to worry about the secret key being published. I did this knowingly - these were freshly generated for the sake of my response, so that secret key and these certs aren’t actually in use anywhere.

I should get some time to look at this again tomorrow - so I’ll give it another shot, ensuring I’ve got the params set

[2018-03-04 02:29] bahamat commented on #235
Check the contents of `/usbkey/config` to verify that it has what you expect.

[2018-03-14 21:15] gustavopinto commented on #202
Hi @davepacheco,

thanks once again for answering our research inquiries. We were able to collect 35 responses and we drafted a research paper with the results. The paper was submitted and accepted for the 14th International Conference on Open Source Systems (http://oss2018.org/). You can find the paper [here](http://gustavopinto.org/lost+found/oss2018.pdf). Hope you enjoy reading the paper!

Than

[2018-03-15 01:22] davepacheco commented on #202
Thanks for the pointer!

[2018-04-17 22:53] arekinath opened #244 "docker-setup should generate a new signed cert key"
We should use signed certs about freshly generated keys for docker-setup rather than decrypting the existing private key the user has on hand.

[2018-07-20 18:08] nerakhon opened #245 "similar to SAPI-280"
I've just been deploying manta to my coal and found out that the slow I/O within the VM affects the imagadm action simply causing it to take more than an hour which is made the default timeout of SAPI and causes failure of the manta-deploy-coal.

Would you consider adding some tunable for COAL? Or is there a plan to fix this in manta?

[2018-09-21 08:40] chudley opened #246 "`coal-mac-vmware-setup` expects "networking" to already exist"
I followed the instructions in the README to get CoaL running on VMware. I installed VMware Fusion 8 (8.5.3) on a new machine (macOS 10.13.3) that has never hosted any VMs in the past.

When running the `coal-mac-vmware-setup` tool, I saw the following:

[code]

Checking out the script, it seems that we use `cd` to "/Library/Preferences/VMware Fusion/" and look for "./networking" in that directory

[2018-09-21 16:46] rmustacc commented on #246
On 9/21/18 1:40 , Richard Bradley wrote:

It could be, or that the default has changed substantially since this
was written for a much older version of Fusion. We should probably
figure out how to handle the case where it doesn't exist.

[2018-10-05 06:41] jclulow commented on #245
@nerakhon Ideally we would solve this, but in the meantime there is a documented workaround for the import of the large Marlin compute image: https://joyent.github.io/manta/#workaround-for-manta-marlin-image-import-failure

We apologise for the inconvenience!

[2018-10-05 07:15] nerakhon commented on #245
This actually doesn’t help as the local unpacking takes that long, not the download.

[2018-10-05 07:18] jclulow commented on #245
@nerakhon Oh.  As an additional step, you can run `imgadm import $uuid` manually in the global zone of each compute node where you need to create marlin zones.  Once _that_ has completed, the creation of marlin zones from the image shouldn't take long at all.

[2018-11-01 08:28] mk-luo opened #247 "Service "cainstsvc" is always in maintenance"
I followed the docs to set up the headnode, all services on the headnode are online except "svc:/smartdc/agent/ca/cainstsvc:default".

maintenance     7:47:28 svc:/smartdc/agent/ca/cainstsvc:default
[root@headnode (whd) ~]# uname -a
SunOS headnode 5.11 joyent_20181026T222507Z i86pc i386 i86pc

I deployed headone on vmware.

[2018-11-01 16:39] twhiteman commented on #247
That is likely this issue here:
https://smartos.org/bugview/TRITON-766

You can verify by looking at the log file for that service, e.g.:
[code]

You can ignore this service error for the most part - but just note that some `sdcadm` commands may refuse to run without this service being enabled/running.

@rmustacc can you take a look at the patch in:
https://github.com/rmustacc/node-ctype/pull/65

[2018-11-02 01:57] mk-luo commented on #247
@twhiteman Yes , I checked the log, they are the same issue: https://smartos.org/bugview/TRITON-766. Thanks for the information.

[2018-11-02 06:46] mk-luo commented on #247
I will close this issue since it's the same with https://smartos.org/bugview/TRITON-766

[2018-11-02 06:46] #247 closed

[2019-01-30 15:05] dylannirvana opened #249 "Dedicated server to deliver product photography with CloudFlare CDN"
We want to use Joyent as a dedicated product image (meaning photography) server for our e-commerce websites, https://www.circalighting.com and https://www.clarksonlighting.com . There are some 30,000+ product photographs, on these web properties. We are currently serving the site from AWS with an integrated (or partially dedicated) server for these product images. My understanding is that using Jo

[2019-02-19 09:17] ctr0306 opened #250 "i am facing difficulty in installing the same on RHEL"
1)
I have  a VM machine with 4 core, 32 GB RAM installing RHEL
Installed VM Workstation as you mentioned

2)
Then i tried running the below which is not required my understanding
curl -s https://raw.githubusercontent.com/joyent/sdc/master/tools/coal-linux-vmware-setup | sudo bash
It did not went fine gave errors

3)
tar -zxvf coal-latest.tgz -C ~/Documents/Virtual\ Machines.localized also did not

[2019-04-07 14:42] liv3010m opened #252 "Typo on README.md where physical install indicates COAL download"
Hi everyone,

At the install section, when it talks on about doing a Physical install from USB (and not COAL) it indicates to download the coal image (coal-latest.tgz) instead of the USB image (usb-latest.tgz).

Best,
Olivia

[2019-04-13 04:14] bahamat commented on #252
https://cr.joyent.us/6109

[2019-04-13 05:08] bahamat commented on #252
Fixed in commit 70baf55.

[2019-04-13 05:08] #252 closed

[2019-04-13 05:21] bahamat commented on #223
The headnote's dhcpd zone is only for booting compute nodes on the admin network. KVM zones have a small DHCP server that provides addressing information to images that don't use cloud-init. This is by design, and will not be changing for the foreseeable future.

[2019-04-13 05:21] #223 closed

[2019-06-14 15:26] csawyerYumaed opened #254 "$dc.$domain must not be publicly resolvable."
According to IRC, my headnode install failures was from using a domain that's publicly resolvable.  This is apparently a sin. so I suggest a line like this:
https://github.com/joyent/triton/pull/253

be merged into the CoaL docs, so future uninformed people like me can hopefully not have 3 failures before success.

[2019-10-18 00:42] bahamat commented on #180
sdc-migrate is being added to triton, and is almost ready. That being the case, I'm going to close this.

[2019-10-18 00:42] #180 closed

[2019-10-29 21:37] elmadkoun opened #259 "how to fetching video source urls from a video"
how to fetching video source urls from a video
 like this
https://api.uplayer.stream/gounlimitedto/api-fo-player.php?url=

from any gounlimited link like this

https://gounlimited.to/embed-zvb2mtxo0nof.html
pleas help
Two weeks ago I am looking

[2019-10-29 22:59] #259 closed

[2019-11-07 17:31] cypa commented on #250
to get help provide any error messages, please

[2019-11-19 18:52] jbarfield opened #263 ""Traits" potential bug discovered"
Example "traits" from our "triton datacenter" deployment:

**CN 1 Traits:**

    {
      "hvm": "bhyve"
    }

**CN 2 Traits:**

    {
      "hvm": "kvm",
      "ssd": "true"
    }

**VM IMAGE & PACKAGE**

_The base64 Image should be allowed to provision on any hardware assuming that package traits are also properly aligned. Hence the reason for the JSON array below._

Base64 Image Traits:

    {

[2019-11-19 19:09] bahamat commented on #263
In the cnapi zone there's a script, `/opt/smartdc/cnapi/bin/alloc-reasons.sh`. Can you give me the output for that script from the failed provision attempt?

If you want to send it in private, hit me up on IRC.

[2019-11-19 19:19] jbarfield commented on #263
I emailed it to you directly. Hope that is okay

[2021-11-19 18:18] bahamat commented on #243
Closing this since cloud-analytics has been removed from the product.

[2021-11-19 18:18] #243 closed

[2021-11-19 18:37] bahamat commented on #244
Fixed in joyent/node-triton@5734123 and joyent/sdc-docker@6f2621b

[2021-11-19 18:37] #244 closed

[2021-11-19 18:38] bahamat commented on #249
Closing this. No feedback from user.

[2021-11-19 18:38] #249 closed

[2021-11-19 18:40] bahamat commented on #242
This is now available via CMON.

[2021-11-19 18:40] #242 closed

[2021-11-19 18:40] #239 closed

[2022-03-31 02:09] bahamat commented on #250
Triton only works on SmartOS, and only with the provided binary installer. See the "Getting Started" section of the README.

[2022-03-31 02:13] bahamat opened #292 "Equinix Metal cli syntax change"
Equinix has moved over from `packet-cli` to `metal-cli` and changed the syntax in some cases.

[2022-03-31 03:19] #292 closed